@import url("./cssreset.css");
:root {
  --header-height: 100px;
  --header-height-brdr: 100px;
  --color-first: #bada55;
  --color-second: #3e6f71;
}

.nav.nav-pills {
  position: relative;
  right: 0px;
  margin-top: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-first);
}

body {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: min-content auto min-content;
      grid-template-rows: -webkit-min-content auto -webkit-min-content;
      grid-template-rows: min-content auto min-content;
}

.intro_main {
  background: url(../img/intro_main-bg.jpg) no-repeat center center;
  background-size: cover;
  padding: 134px 0px 255px;
  height: 850px;
}

.pos-rel {
  position: relative;
}

.main__intro-title h1 {
  font-size: 60px;
  line-height: 75px;
  color: #fff;
  position: absolute;
  left: 0px;
  top: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Gilroy-SemiBold";
}

.main__tech .list {
  margin: 0px 0px 37px;
  list-style: none;
  font-size: 17px;
  line-height: 35px;
  font-weight: 400;
  color: #000;
}

.main__tech .list .num {
  margin: 0px 4px 0px 0px;
  display: inline-block;
  width: 15px;
  color: #a4c222;
}

.main__tech p {
  color: #828282;
}

.main__tech-link {
  padding-right: 50px;
  background: url(../img/button_link_arrow.png) no-repeat right center #a4c222;
  background-size: 35px auto;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  padding: 9px 55px 9px 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.main__tech-link:hover {
  color: #fff;
  background-color: #7a8e21;
}

.main__quality {
  background: url(../img/quality_main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main__quality-filter {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 0 190px;
}

.title {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.contacts--gallery .title__text {
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.high_quality {
  color: white;
}

.contacts--gallery .title__subtitle {
  font-size: 25px;
  line-height: 24px;
  font-family: GothamPro, sans-serif;
  font-weight: 300;
  color: #838383;
  text-align: center;
}

.quality_content .list .li1 {
  background-image: url(../img/quality_ico_01.png);
}

.quality_content .list .li2 {
  background-image: url(../img/quality_ico_02.png);
}

.quality_content .list .li3 {
  background-image: url(../img/quality_ico_03.png);
}

.quality_content .list .li4 {
  background-image: url(../img/quality_ico_04.png);
}

.quality_content .list .li5 {
  background-image: url(../img/quality_ico_05.png);
}

.equipment h4 {
  font-weight: 500;
  color: #a4c222;
  font-size: 20px;
  line-height: 22px;
  margin: 0 0 4px;
  text-transform: uppercase;
}

.equipment h5 {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.table th {
  width: 45%;
}

.table td {
  color: gray;
}

.technology__subtext {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #a4c222;
}

.technology__text {
  font-size: 16px;
  line-height: 20px;
}

.technology__titlte {
  font-size: 35px;
  line-height: 40px;
  font-family: "Gilroy-SemiBold";
}

.technology__percent .num {
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #a4c222;
}

.technology__percent .bl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
}

.technology__info {
  line-height: 20px;
  font-style: italic;
  font-weight: 600;
}

.technology__push div {
  font-size: 35px;
  line-height: 20px;
  color: #a4c222;
  font-weight: 400;
}

.technology__push div strong {
  font-size: 60px;
  line-height: 20px;
  font-weight: 700;
}

.technology__floor-bg {
  background: url(../img/tech_inner_block_4-bg.png) no-repeat bottom;
  padding-bottom: 300px;
}

.technology__material {
  padding: 35px 70px 70px 110px;
}

.technology__material-bg1 {
  background: url(../img/tech_material_5_ico_01.png) no-repeat;
  background-size: 90px auto;
}

.technology__material-bg2 {
  background: url(../img/tech_material_5_ico_02.png) no-repeat;
  background-size: 90px auto;
}

.technology__material-bg3 {
  background: url(../img/tech_material_5_ico_03.png) no-repeat;
  background-size: 90px auto;
}

.technology__front {
  font-weight: 600;
  color: #a4c222;
}

.technology__front-base {
  position: relative;
}

.technology__front-img {
  position: absolute;
  top: -110px;
}

.technology__windoor {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #a4c222;
}

.technology__separator {
  border-right: 2px solid #e0e0e0;
}

.technology__colors {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #a4c222;
  text-align: center;
}

.colors__vars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  border-top: 1px solid #e0e0e0;
}

.colors__vars li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colors__vars li img {
  border-radius: 50%;
  width: 55px;
}

.colors__vars li span {
  padding-left: 15px;
  padding-right: 10px;
}

.finishing {
  position: relative;
}

.finishing div {
  position: absolute;
  bottom: -36px;
  left: 17px;
  width: 214px;
  background: #f6f6f6;
  font-size: 17px;
  line-height: 20px;
  padding: 10px;
}

.testing {
  position: relative;
}

.testing::after {
  content: "";
  display: block;
  width: 2px;
  height: 91px;
  background-color: #e0e0e0;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}

.quality_content .list li {
  display: inline-block;
  vertical-align: top;
  width: 19%;
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 120px auto;
  padding: 152px 15px 0px;
  text-align: center;
}

.quality_content .list li span {
  display: block;
}

.header-wrap-fluid {
  background-color: #f6f6f6;
}

.wrap_bg {
  background: #f6f6f6;
}

.btn {
  border-radius: 0;
}

.sticky {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 999;
}

.dummy {
  padding-top: 39px;
}

.header__row {
  min-height: var(--header-height);
  background-color: var(--color-first);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: var(--header-height);
  min-width: 140px;
  background-color: yellowgreen;
}

.header__phone:hover {
  background-color: yellowgreen;
  text-decoration: none;
}

.phone__icon {
  margin-bottom: 10px;
  font-size: 28px;
}

.phone__number {
  font-size: 14px;
}

.header__nav {
  background-color: var(--color-second);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 0 !important;
}

.header__nav li:not(:last-child) {
  border-right: 1px solid white;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Gilroy-Regular";
  display: inline-block;
  padding: 2px 40px;
}

.header__link:hover {
  color: var(--color-first);
}

.katalog__nav {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
}

.katalog__link,
.katalog__link_prev,
.katalog__link_next {
  display: inline-block;
  border: 1px solid white;
  padding: 7px 35px 7px 50px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.katalog__link,
.katalog__link_prev {
  background: url(../img/button_left_arrow.png) no-repeat left center;
  background-size: 35px auto;
}

.katalog__link_next {
  background: url(../img/button_right_arrow.png) no-repeat right center;
  background-size: 35px auto;
  padding: 7px 50px 7px 35px;
}

.katalog__link:hover,
.katalog__link_prev:hover,
.katalog__link_next:hover {
  color: black;
  background-color: var(--color-first);
  border-color: black;
}

.katalog__link:hover,
.katalog__link_prev:hover {
  background-image: url(../img/button_left_arrow_hover.png);
  background-size: 35px auto;
}

.katalog__link_next:hover {
  background-image: url(../img/button_right_arrow_hover.png);
  background-size: 35px auto;
}

.katalog__link_next_empty,
.katalog__link_empty {
  opacity: 0.2;
  cursor: default;
}

.katalog__link_empty {
  display: inline-block;
  background: url(../img/button_left_arrow.png) no-repeat left center;
  background-size: 35px auto;
  border: 1px solid white;
  padding: 7px 35px 7px 50px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.katalog__link_next_empty {
  display: inline-block;
  background: url(../img/button_right_arrow.png) no-repeat right center;
  background-size: 35px auto;
  border: 1px solid white;
  padding: 7px 50px 7px 35px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.contact h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.burger-icon {
  color: white;
  font-size: 36px;
}

.offcanvas-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-size: 20px;
  font-family: "Gilroy-SemiBold";
}

.price__value {
  font-size: 36px;
  color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.price__currency {
  font-size: 34px;
}

.header__tel {
  text-decoration: none;
  display: block;
  width: 120px;
}

.header-link {
  color: white !important;
}

.projects_title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #26404d;
  word-spacing: 1rem;
}

.projects__link {
  text-decoration: none;
  color: #181818;
  border: 1px solid white;
  display: inline-block;
}

.projects__link:hover {
  border-color: #a4c222;
  color: #181818;
}

.projects__link .main img:hover {
  opacity: 0;
}

.projects__link .main img:hover {
  opacity: 0;
}

.main-1 {
  background: url(../img/projects/1/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-2 {
  background: url(../img/projects/2/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-3 {
  background: url(../img/projects/3/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-4 {
  background: url(../img/projects/4/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-5 {
  background: url(../img/projects/5/plan.jpg) no-repeat center;
  background-size: contain;
}

.projects__left {
  letter-spacing: 0.02em;
  color: #181818;
  font-size: 17px;
}

.projects__right {
  letter-spacing: -0.1px;
  color: #262626;
  font-size: 17px;
  font-weight: 300;
}

.projects__middle::after,
.projects__middle::before {
  display: block;
  width: 2px;
  height: 25px;
  content: "";
  background: #e0e0e0;
}

.projects__middle img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.projects__middle img.last {
  width: 22px;
  height: 18px;
}

.i_size {
  font-size: 15px;
}

.main__carousel {
  padding: 0;
  position: relative;
}

.carousel-indicators {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.cretit-link {
  text-decoration: none;
  color: white;
}

.credit-link__text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.credit-link__text:hover {
  color: white;
  background-color: #7a8e21;
}

.description__title {
  font-family: "Gilroy-SemiBold";
  font-size: 48px;
  line-height: 68px;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px dashed var(--color-second);
  -ms-flex-preferred-size: 10px;
      flex-basis: 10px;
  position: relative;
  top: -5px;
}

div > .description__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1px;
}

.description__video {
  width: 100%;
}

.specification {
  background-image: url(../img/specifications_bg.jpg);
  background-size: cover;
}

.specification___side {
  background: rgba(24, 24, 24, 0.65);
}

.specifications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.specifications__item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #afafaf;
  border-color: white;
}

.specifications__item > span:last-child {
  color: white;
}

.specifications__item > span > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.nav-link:not(.active) {
  color: black;
}

.nav-pills .nav-link {
  border-radius: 0;
  border: 2px solid var(--color-first);
  margin-right: 25px;
  font-size: 30px;
  font-family: "Gilroy-SemiBold";
}

.nav-pills .nav-link:hover:not(.active) {
  border: 2px solid #7a8e21;
  background-color: #7a8e21;
  color: white;
}

.footer_bg {
  background-color: var(--color-second);
  color: white;
}

.footer_menu {
  text-transform: uppercase;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer_menu a {
  text-transform: uppercase;
  line-height: 35px;
  color: white;
  text-decoration: none;
}

.footer_menu a:hover {
  color: #9dc11b;
}

.footer_time,
.footer_number {
  color: white;
}

.footer_time a:hover {
  color: #9dc11b;
}

.footer_number {
  font-size: 18px;
  line-height: 22px;
}

.footer_number:hover {
  color: #9dc11b;
}

.phone-bg {
  background: url(../img/head_phone_bg.png) no-repeat left top;
  background-size: 24px 33px;
  padding-left: 35px;
}

.head_contact .call {
  font-size: 14px;
  color: #a4c222;
}

.contacts--gallery .title__text {
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contacts--gallery .title__subtitle {
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #838383;
  text-align: center;
}

.title {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.title__text {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 13px;
  text-transform: uppercase;
  word-spacing: 1rem;
}

.contacts--gallery .title__text {
  font-size: 40px;
  line-height: 38px;
  font-family: GothamPro, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contacts--gallery .title__subtitle {
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #838383;
  text-align: center;
}

.subtitle_line {
  width: 90px;
  height: 4px;
  background: #a4c222;
  margin: 50px auto;
}

.contact_intro {
  background: #a4c222 url(../img/call-center.jpg) no-repeat;
  background-size: cover;
}

.contact__phone .ico {
  background-image: url(../img/contact_ico_02.svg);
  float: left;
  margin: 0 18px 0 0;
  width: 38px;
  height: 40px;
  border-right: 1px solid #e0e0e0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.contact__phone .phone {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.contact__phone .phone:hover {
  color: #a4c222;
}

.contact__phone .callback {
  font-size: 16px;
  line-height: 20px;
  color: #a4c222;
}

.contact__phone .callback {
  font-size: 16px;
  line-height: 20px;
  color: #a4c222;
}

.contact__time .ico {
  background-image: url(../img/contact_ico_03.svg);
  float: left;
  margin: 0 18px 0 0;
  width: 38px;
  height: 40px;
  border-right: 1px solid #e0e0e0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.contact__time .time {
  line-height: 20px;
  font-weight: 400;
  padding: 9px 0;
  margin: 10px 0;
}

.contact__links .email {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 60px;
  background: url(../img/letter_ico.png) no-repeat right center #a4c222;
  background-size: 46px auto;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  padding-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.contact__links .email:hover {
  background-color: #7a8e21;
}

.contact__links .whatsapp {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 0 0 5px;
  background: url(../img/whatsapp_ico.png) no-repeat center center;
  background-size: 100% auto;
}

.contact__links .telegram {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 0 0 5px;
  background: url(../img/telegram_ico.png) no-repeat center center;
  background-size: 100% auto;
}

.services__block {
  margin: 100px 250px;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/GilroyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*# sourceMappingURL=main.css.map */