@import url("./cssreset.css");

body {
  font-family: GilroyRegular;
  font-size: 14px;
}

// #262626;
// #bada55;

header {
  position: fixed;
}

.header__row {
  min-height: 100px;
  background-color: #262626;
  align-items: center;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  max-width: 130px;
  margin-left: -12px;
}

.header__phone:hover {
  background-color: #bada55;
}

.phone__icon {
  margin-bottom: 10px;
}

.phone__icon {
  font-size: 28px;
}

.header__link {
  text-decoration: none;
}

.header-link {
  color: white;
}

.header__nav {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.header__nav:last-child {
  margin-right: -12px;
}

.header__nav:hover {
  background-color: yellowgreen;
}

@font-face {
  // название шрифта
  font-family: "GilroyRegular";
  // адрес шрифта и тип
  src: url("../fonts/GilroyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
