@import url("./cssreset.css");
:root {
  --header-height: 100px;
  --header-height-brdr: 100px;
  --color-first: #bada55;
  --color-second: #3e6f71;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-first);
}

body {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: min-content auto min-content;
      grid-template-rows: -webkit-min-content auto -webkit-min-content;
      grid-template-rows: min-content auto min-content;
}

.wrap_bg {
  background: #f6f6f6;
}

.btn {
  border-radius: 0;
}

.sticky {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 999;
}

.dummy {
  padding-top: 39px;
}

.header__row {
  min-height: var(--header-height);
  background-color: var(--color-first);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: var(--header-height);
  min-width: 140px;
  background-color: yellowgreen;
}

.header__phone:hover {
  background-color: yellowgreen;
  text-decoration: none;
}

.phone__icon {
  margin-bottom: 10px;
  font-size: 28px;
}

.phone__number {
  font-size: 14px;
}

.header__nav {
  background-color: var(--color-second);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7px 0 !important;
}

.header__nav li:not(:last-child) {
  border-right: 1px solid white;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Gilroy-Regular";
  display: inline-block;
  padding: 2px 40px;
}

.header__link:hover {
  color: var(--color-first);
}

.katalog__nav {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
}

.katalog__link,
.katalog__link_prev,
.katalog__link_next {
  display: inline-block;
  border: 1px solid white;
  padding: 7px 35px 7px 50px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.katalog__link,
.katalog__link_prev {
  background: url(../img/button_left_arrow.png) no-repeat left center;
  background-size: 35px auto;
}

.katalog__link_next {
  background: url(../img/button_right_arrow.png) no-repeat right center;
  background-size: 35px auto;
  padding: 7px 50px 7px 35px;
}

.katalog__link:hover,
.katalog__link_prev:hover,
.katalog__link_next:hover {
  color: black;
  background-color: var(--color-first);
  border-color: black;
}

.katalog__link:hover,
.katalog__link_prev:hover {
  background-image: url(../img/button_left_arrow_hover.png);
  background-size: 35px auto;
}

.katalog__link_next:hover {
  background-image: url(../img/button_right_arrow_hover.png);
  background-size: 35px auto;
}

.katalog__link_next_empty,
.katalog__link_empty {
  opacity: 0.2;
  cursor: default;
}

.katalog__link_empty {
  display: inline-block;
  background: url(../img/button_left_arrow.png) no-repeat left center;
  background-size: 35px auto;
  border: 1px solid white;
  padding: 7px 35px 7px 50px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.katalog__link_next_empty {
  display: inline-block;
  background: url(../img/button_right_arrow.png) no-repeat right center;
  background-size: 35px auto;
  border: 1px solid white;
  padding: 7px 50px 7px 35px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.contact h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

.burger-icon {
  color: white;
  font-size: 36px;
}

.offcanvas-header {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.price__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-size: 20px;
  font-family: "Gilroy-SemiBold";
}

.price__value {
  font-size: 36px;
  color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.price__currency {
  font-size: 34px;
}

.header__tel {
  text-decoration: none;
  display: block;
  width: 120px;
}

.header-link {
  color: white !important;
}

.projects_title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #26404d;
  word-spacing: 1rem;
}

.projects__link {
  text-decoration: none;
  color: #181818;
  border: 1px solid white;
  display: inline-block;
}

.projects__link:hover {
  border-color: #a4c222;
  color: #181818;
}

.projects__link .main img:hover {
  opacity: 0;
}

.projects__link .main img:hover {
  opacity: 0;
}

.main-1 {
  background: url(../img/projects/1/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-2 {
  background: url(../img/projects/2/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-3 {
  background: url(../img/projects/3/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-4 {
  background: url(../img/projects/4/plan.jpg) no-repeat center;
  background-size: contain;
}

.main-5 {
  background: url(../img/projects/5/plan.jpg) no-repeat center;
  background-size: contain;
}

.projects__left {
  letter-spacing: 0.02em;
  color: #181818;
  font-size: 17px;
}

.projects__right {
  letter-spacing: -0.1px;
  color: #262626;
  font-size: 17px;
  font-weight: 300;
}

.projects__middle::after,
.projects__middle::before {
  display: block;
  width: 2px;
  height: 25px;
  content: "";
  background: #e0e0e0;
}

.projects__middle img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.projects__middle img.last {
  width: 22px;
  height: 18px;
}

.i_size {
  font-size: 15px;
}

.main__carousel {
  padding: 0;
  position: relative;
}

.carousel-indicators {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.cretit-link {
  text-decoration: none;
  color: white;
}

.credit-link__text {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.credit-link__text:hover {
  color: white;
  background-color: #7a8e21;
}

.description__title {
  font-family: "Gilroy-SemiBold";
  font-size: 48px;
  line-height: 68px;
}

.description__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text__line {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px dashed var(--color-second);
  -ms-flex-preferred-size: 10px;
      flex-basis: 10px;
  position: relative;
  top: -5px;
}

div > .description__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 1px;
}

.description__video {
  width: 100%;
}

.specification {
  background-color: var(--color-second);
}

.specifications__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.specifications__item > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  border-color: white;
}

.specifications__item > span:last-child {
  color: white;
}

.specifications__item > span > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

ul.nav-pills {
  font-size: 18px;
  font-family: "Gilroy-SemiBold";
}

.nav-link:not(.active) {
  color: black;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.footer_bg {
  background-color: var(--color-second);
  color: white;
}

.footer_menu {
  text-transform: uppercase;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer_menu a {
  text-transform: uppercase;
  line-height: 35px;
  color: white;
  text-decoration: none;
}

.footer_menu a:hover {
  color: #9dc11b;
}

.footer_time,
.footer_number {
  color: white;
}

.footer_time a:hover {
  color: #9dc11b;
}

.footer_number {
  font-size: 18px;
  line-height: 22px;
}

.footer_number:hover {
  color: #9dc11b;
}

.phone-bg {
  background: url(../img/head_phone_bg.png) no-repeat left top;
  background-size: 24px 33px;
  padding-left: 35px;
}

.head_contact .call {
  font-size: 14px;
  color: #a4c222;
}

.contacts--gallery .title__text {
  font-size: 40px;
  line-height: 38px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contacts--gallery .title__subtitle {
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #838383;
  text-align: center;
}

.title {
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.title__text {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 13px;
  text-transform: uppercase;
  word-spacing: 1rem;
}

.contacts--gallery .title__text {
  font-size: 40px;
  line-height: 38px;
  font-family: GothamPro, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.contacts--gallery .title__subtitle {
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  color: #838383;
  text-align: center;
}

.subtitle_line {
  width: 90px;
  height: 4px;
  background: #a4c222;
  margin: 50px auto;
}

.contact_intro {
  background: #a4c222 url(../img/call-center.jpg) no-repeat;
  background-size: cover;
}

.contact__phone .ico {
  background-image: url(../img/contact_ico_02.svg);
  float: left;
  margin: 0 18px 0 0;
  width: 38px;
  height: 40px;
  border-right: 1px solid #e0e0e0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.contact__phone .phone {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.contact__phone .phone:hover {
  color: #a4c222;
}

.contact__phone .callback {
  font-size: 16px;
  line-height: 20px;
  color: #a4c222;
}

.contact__phone .callback {
  font-size: 16px;
  line-height: 20px;
  color: #a4c222;
}

.contact__time .ico {
  background-image: url(../img/contact_ico_03.svg);
  float: left;
  margin: 0 18px 0 0;
  width: 38px;
  height: 40px;
  border-right: 1px solid #e0e0e0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.contact__time .time {
  line-height: 20px;
  font-weight: 400;
  padding: 9px 0;
  margin: 10px 0;
}

.contact__links .email {
  padding-top: 8px;
  padding-bottom: 7px;
  padding-right: 60px;
  background: url(../img/letter_ico.png) no-repeat right center #a4c222;
  background-size: 46px auto;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  padding-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
}

.contact__links .email:hover {
  background-color: #7a8e21;
}

.contact__links .whatsapp {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 0 0 5px;
  background: url(../img/whatsapp_ico.png) no-repeat center center;
  background-size: 100% auto;
}

.contact__links .telegram {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin: 0 0 0 5px;
  background: url(../img/telegram_ico.png) no-repeat center center;
  background-size: 100% auto;
}

@font-face {
  font-family: "GilroyRegular";
  src: url("../fonts/GilroyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype"), url("../fonts/gilroy-regular.svg#gilroy-regular") format("svg");
  /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
/*# sourceMappingURL=main.css.map */