@import url("./cssreset.css");

:root {
  --header-height: 100px;
  --header-height-brdr: 100px;
  --color-first: #bada55;
  --color-second: #3e6f71;
  //   --color-second: #808080;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--color-first);
}

body {
  font-family: "Gilroy-Regular";
  font-size: 16px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto min-content;
}

.btn {
  border-radius: 0;
}

.sticky {
  position: fixed;
  top: 0;
  min-width: 100%;
  z-index: 999;
}

.dummy {
  padding-top: 39px;
}

.header__row {
  min-height: var(--header-height);
  background-color: var(--color-first);
  align-items: center;
  //   border-bottom: 2px solid var(--color-second);
  //   border-top: 2px solid var(--color-second);
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  min-width: 140px;
  //   border-right: 1px solid var(--color-second);
  background-color: yellowgreen;
}

.header__phone:hover {
  //   background-color: var(--color-first);
  background-color: yellowgreen;
  //   border-right: 1px solid var(--color-first);
  text-decoration: none;
}

.phone__icon {
  margin-bottom: 10px;
  font-size: 28px;
}

.phone__number {
  font-size: 14px;
}

.header__nav {
  background-color: var(--color-second);
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 7px 0 !important;
}

.header__nav li:not(:last-child) {
  border-right: 1px solid white;
}

.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: "Gilroy-Regular";
  display: inline-block;
  padding: 2px 40px;
}

.header__link:hover {
  color: var(--color-first);
}

.katalog__nav {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
}

.katalog__link,
.katalog__link_prev,
.katalog__link_next {
  display: inline-block;
  border: 1px solid white;
  padding: 7px 35px 7px 50px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.katalog__link,
.katalog__link_prev {
  background: url(../img/button_left_arrow.png) no-repeat left center;
  background-size: 35px auto;
}
.katalog__link_next {
  background: url(../img/button_right_arrow.png) no-repeat right center;
  background-size: 35px auto;
  padding: 7px 50px 7px 35px;
}

.katalog__link:hover,
.katalog__link_prev:hover,
.katalog__link_next:hover {
  color: black;
  background-color: var(--color-first);
  border-color: black;
}
.katalog__link:hover,
.katalog__link_prev:hover {
  background-image: url(../img/button_left_arrow_hover.png);
  background-size: 35px auto;
}
.katalog__link_next:hover {
  background-image: url(../img/button_right_arrow_hover.png);
  background-size: 35px auto;
}

.burger-icon {
  color: white;
  font-size: 36px;
}

.offcanvas-header {
  justify-content: flex-end;
}

.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  font-size: 20px;
  font-family: "Gilroy-SemiBold";
}

.price__value {
  font-size: 36px;
  color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.price__currency {
  font-size: 34px;
}

.header__tel {
  text-decoration: none;
  display: block;
  width: 120px;
}

.header-link {
  color: white !important;
}

.burger-right {
  justify-content: flex-end !important;
}

.menu-burger-bg {
  border-left: 2px solid var(--color-second);
  background-color: var(--color-first);
}

.menu-burger-line {
  border-top: 1px solid var(--color-second);
}
.menu-burger-line:last-child {
  border-bottom: 1px solid var(--color-second);
}

.main__carousel {
  padding: 0;
  position: relative;
}

.carousel-indicators {
  justify-content: flex-end;
}
.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
}

.cretit-link {
  text-decoration: none;
  color: white;
}

.credit-link__text {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);
  font-family: "Gilroy-SemiBold";
}

.credit-link__text:hover {
  color: white;
  background-color: #7a8e21;
}

.description__title {
  font-family: "Gilroy-SemiBold";
  font-size: 48px;
  line-height: 68px;
}

.description__text {
  display: flex;
  justify-content: space-between;
}

.text__line {
  flex-grow: 1;
  border-bottom: 1px dashed var(--color-second);
  flex-basis: 10px;
  position: relative;
  top: -5px;
}

div > .description__video {
  display: flex;
  padding-bottom: 1px;
}

.description__video {
  width: 100%;
}

.specification {
  background-color: var(--color-second);
  //   margin: 0 40px;
}

.specifications__item {
  display: flex;
  font-size: 18px;
}

.specifications__item > span {
  display: flex;
  color: white;
  border-color: white;
  //   color: #afafaf;
  //   border-color: #afafaf;
}

.specifications__item > span:last-child {
  color: white;
}
.specifications__item > span > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

ul.nav-pills {
  font-size: 18px;
  font-family: "Gilroy-SemiBold";
}
.nav-link:not(.active) {
  color: black;
}
.nav-pills .nav-link {
  border-radius: 0;
}

.footer_bg {
  background-color: var(--color-second);
  color: white;
}

.footer_menu {
  text-transform: uppercase;
}

footer a {
  color: white;
  text-decoration: none;
}

.footer_menu a {
  text-transform: uppercase;
  line-height: 35px;
  color: white;
  text-decoration: none;
}

.footer_menu a:hover {
  color: #9dc11b;
}

.footer_time,
.footer_number {
  color: white;
}

.footer_time a:hover {
  color: #9dc11b;
}

.footer_number {
  font-size: 18px;
  line-height: 22px;
}

.footer_number:hover {
  color: #9dc11b;
}

.phone-bg {
  background: url(../img/head_phone_bg.png) no-repeat left top;
  background-size: 24px 33px;
  padding-left: 35px;
}

.head_contact .call {
  font-size: 14px;
  color: #a4c222;
}

// xs <576px
// sm ≥576px
// md ≥768px
// lg ≥992px
// xl ≥1200px
// xxl ≥1400px

@font-face {
  // название шрифта
  font-family: "GilroyRegular";
  // адрес шрифта и тип
  src: url("../fonts/GilroyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-regular.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-regular.svg#gilroy-regular")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-semibold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-semibold.woff")
      format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-semibold.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg"); /* Chrome < 4, Legacy iOS */
}
