@import url("./cssreset.css");

:root {
  --header-height: 100px;
  --color-first: #bada55;
  --color-second: #262626;
}

body {
  font-family: GilroyRegular;
  font-size: 16px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto min-content;
}

header {
  position: fixed;
  z-index: 99;
}

.header__row {
  min-height: var(--header-height);
  background-color: var(--color-first);
  align-items: center;
  border-bottom: 2px solid var(--color-second);
  border-top: 2px solid var(--color-second);
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: var(--header-height);
  max-width: 130px;
  margin-left: -12px;
  //   border-right: 1px solid var(--color-second);
  background-color: yellowgreen;
}

.header__phone:hover {
  //   background-color: var(--color-first);
  background-color: yellowgreen;
  //   border-right: 1px solid var(--color-first);
}

.phone__icon {
  margin-bottom: 10px;
}

.phone__icon {
  font-size: 28px;
}

.phone__number {
  font-size: 14px;
}

.burger-icon {
  color: white;
  font-size: 36px;
}

.price__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__title {
  font-size: 20px;
}

.price__value {
  font-size: 36px;
  color: var(--color-first);
}

.price__currency {
  font-size: 34px;
}

.header__link {
  text-decoration: none;
  display: block;
  width: 120px;
}

.header-link {
  color: white !important;
}

.header__nav {
  min-height: var(--header-height);
  display: flex;
  align-items: center;
}

.header__nav:last-child {
  margin-right: -12px;
}

.header__nav:hover {
  background-color: yellowgreen;
}

.burger-right {
  justify-content: flex-end !important;
}

.menu-burger-bg {
  border-left: 2px solid var(--color-second);
  background-color: var(--color-first);
}

.menu-burger-line {
  border-top: 1px solid var(--color-second);
}
.menu-burger-line:last-child {
  border-bottom: 1px solid var(--color-second);
}

.main__pt {
  padding-top: var(--header-height);
}

.main__carousel {
  padding: 0;
}

.cretit-link {
  text-decoration: none;
  color: white;
}

.credit-link__text {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-first);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.description__title {
  font-size: 48px;
  line-height: 68px;
}

.description__text {
  display: flex;
  justify-content: space-between;
}

.text__line {
  flex-grow: 1;
  border-bottom: 1px dashed var(--color-second);
  flex-basis: 10px;
}

.description__video {
  width: 100%;
}

img.plan {
  width: 733px;
  height: 550px;
}

footer {
  background-color: var(--color-first);
  border-top: 2px solid var(--color-second);
}

@font-face {
  // название шрифта
  font-family: "GilroyRegular";
  // адрес шрифта и тип
  src: url("../fonts/GilroyRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
